{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10 col-md-8 col-lg-6 my-3">
                <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join cool kids and browse local shingles today!</legend>
                    {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                    <button class="btn btn-success" type="submit">Make me a Hottie!</button>
                  </div>
                </form>
                <small class="text-muted">Already on the inside? Well just <a href="{% url 'hotties:login' %}">get into your account</a> instead.</small>
            </div>
        </div>
    </div>
{% endblock %}