{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-sm-10 col-md-8 col-lg-6 my-3">
                <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Login to see which shingles are right for you!</legend>
                    {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                    <button class="btn btn-success" type="submit">Login</button>
                  </div>
                </form>
                <small class="text-muted">Need an account? <a href="{% url 'hotties:registration' %}">Register to be one of our hotties</a> instead.</small>
            </div>
        </div>
    </div>
{% endblock %}