{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
		<div class="container">
			<div class="row">
				<div class="col mt-3">
					<form action="" method="POST">
						{% csrf_token %}
						{{ form|crispy }}
						<h2>Are you sure you want to delete "{{ shingle }}"?</h2>
						<div class="form-group">
							<a href="{% url 'shingles:detail_shingle' shingle.id %}" class="btn btn-outline-secondary">No, cancel</a>
							<button class="btn btn-outline-danger ml-2" type="submit">Yes, delete</button>
						</div>
					</form>
				</div>
			</div>
		</div>
  </div>
{% endblock %}